# NPM
# -----------------

node_modules

# Configuration
# -----------------

/environment-config

# Artifact
# -----------------

/build
/artifact

# Development
# -----------------

/development/app

# Infrastructure
# -----------------

/deploy/infrastructure/cloudformation.template

# Functional Tests
# -----------------
cypress/**/*
/tests/functional/**/*.js
/tests/functional/**/*.map
/tests/functional/logs


.vscode/**/*
dist
