html,
body {
	height: 100%;
	background: #F2F2F2;
	color: #444;
	direction: rtl;
	@include dubai;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
address,
p,
pre,
blockquote,
dl,
dd,
menu,
ol,
ul,
table,
caption,
hr {
	margin: 0;
}

* {
	box-sizing: border-box;
}

li
{
	list-style: none;
}

/* Background Color */
.bg {

	&--theme {
		background: #ce7852;
	}

	&--gray {
		background: #f6f6f6;
	}

	&--light {
		background: #999999;
	}

	&--dark {
		background: #333444;
	}

	&--black {
		background: #000000;
	}

	&--white {
		background: #ffffff;
	}

	&__cat {
		&--1 {
			background: #f9f9f9;
		}

		&--2 {
			background: #201f29;
		}

		&--3 {
			background: #f7f7f7;
		}

		&--4 {
			background: #f7f7f7;
		}

		&--5 {
			background: #1a1a1a;
		}

		&--6 {
			background: #f2f2f2;
		}

		&--7 {
			background: #191919;
		}

		&--8 {
			background: #f4f4f4;
		}

		&--9 {
			background: #f7f7f7;
		}
	}
}


/*-------------------------------
  Section Title Styles
---------------------------------*/

.section
{
	&__title {
		margin: 0 auto;
		max-width: 650px;
		&.title--white h2 {
			color: #fff;
		}
	}
}

// .section__title.title--white h2.title__be--2::after {
// 	content: url("images/icons/icon_title3.png");
// }

.section__title h2 {
	color: #333;
	display: block;
	font-size: 30px;
	font-weight: 700;
	line-height: 30px;
	margin-bottom: 20px;
	position: relative;
	text-transform: uppercase;
}

@media (max-width: 991px) {
	.section__title h2 {
		font-size: 25px;
	}
}

.wn__newsletter__area .section__title>h2 {
	letter-spacing: 2px;
}

.section__title--3 h2 {
	color: #2e2e2e;
	display: inline-block;
	font-size: 24px;
	font-weight: 700;
	line-height: 24px;
	text-transform: uppercase;
	vertical-align: top;
}

.section__title--3 h2 {
	color: #2e2e2e;
	font-size: 26px;
	font-weight: 700;
	margin-bottom: 5px;
	text-transform: uppercase;
}

.section__title--3 p {
	color: #333;
	font-size: 12px;
	font-weight: 300;
}

.product-section_area .section__title {
	max-width: 100%;
	margin: 0;
}

.product-section_area .section__title .title__be--2 {
	margin-bottom: 0;
}

.section-wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
}


@media only screen and (max-width: 420px) {
	.section__title h2 {
		font-size: 26px;
	}

	.post__itam .content h3 {
		font-size: 18px;
		line-height: 28px;
	}

}


/* spacing */
.mt {
	&--20 {
		margin-top: 20px;
	}

	&--30 {
		margin-top: 30px;
	}

	&--40 {
		margin-top: 40px;
	}

	&--50 {
		margin-top: 50px;
	}

	&--60 {
		margin-top: 60px;
	}

	&--70 {
		margin-top: 70px;
	}

	&--80 {
		margin-top: 80px;
	}

	&--90 {
		margin-top: 90px;
	}

	&--100 {
		margin-top: 100px;
	}

	&--110 {
		margin-top: 110px;
	}

	&--120 {
		margin-top: 120px;
	}

	&--130 {
		margin-top: 130px;
	}

	&--140 {
		margin-top: 140px;
	}

	&--150 {
		margin-top: 150px;
	}
}

/* spacing */
.pt {
	&--30 {
		padding-top: 30px;
	}

	&--40 {
		padding-top: 40px;
	}

	&--50 {
		padding-top: 50px;
	}

	&--60 {
		padding-top: 60px;
	}

	&--70 {
		padding-top: 70px;
	}

	&--80 {
		padding-top: 80px;
	}

	&--90 {
		padding-top: 90px;
	}

	&--100 {
		padding-top: 100px;
	}

	&--110 {
		padding-top: 110px;
	}

	&--120 {
		padding-top: 120px;
	}

	&--130 {
		padding-top: 130px;
	}

	&--140 {
		padding-top: 140px;
	}

	&--150 {
		padding-top: 150px;
	}
}

/* spacing */
.pb {
	&--30 {
		padding-bottom: 30px;
	}

	&--40 {
		padding-bottom: 40px;
	}

	&--45 {
		padding-bottom: 45px;
	}

	&--50 {
		padding-bottom: 50px;
	}

	&--55 {
		padding-bottom: 55px;
	}

	&--60 {
		padding-bottom: 60px;
	}

	&--70 {
		padding-bottom: 70px;
	}

	&--75 {
		padding-bottom: 75px;
	}

	&--80 {
		padding-bottom: 80px;
	}

	&--90 {
		padding-bottom: 90px;
	}

	&--100 {
		padding-bottom: 100px;
	}

	&--110 {
		padding-bottom: 110px;
	}

	&--120 {
		padding-bottom: 120px;
	}

	&--130 {
		padding-bottom: 130px;
	}

	&--140 {
		padding-bottom: 140px;
	}

	&--150 {
		padding-bottom: 150px;
	}
}

/* spacing */
.ptb {
	&--30 {
		padding: 30px 0;
	}

	&--40 {
		padding: 40px 0;
	}

	&--50 {
		padding: 50px 0;
	}

	&--60 {
		padding: 60px 0;
	}

	&--70 {
		padding: 70px 0;
	}

	&--80 {
		padding: 80px 0;
	}

	&--90 {
		padding: 90px 0;
	}

	&--100 {
		padding: 100px 0;
	}

	&--110 {
		padding: 110px 0;
	}

	&--120 {
		padding: 120px 0;
	}

	&--130 {
		padding: 130px 0;
	}

	&--140 {
		padding: 140px 0;
	}

	&--150 {
		padding: 150px 0;
	}

	&--200 {
		padding: 200px 0;
	}

	&--220 {
		padding: 220px 0;
	}
}

.padding--lr--30px {
	padding: 0 30px;
}

.margin--lr--60 {
	margin: 0 60px;
}

/* Text specialized */
.text {
	&--italic {
		font-style: italic;
	}

	&--normal {
		font-style: normal;
	}

	&--underline {
		font-style: underline;
	}
}

/* Font specialized */
.body--font {
	font-family: "Poppins", sans-serif;
}

.heading--font {
	font-family: "Poppins", sans-serif;
}

/* Height and width */
.fullscreen {
	min-height: 85vh;
	width: 100%;
}

.w {
	&--100 {
		width: 100%;
	}

	&--75 {
		width: 75%;
	}

	&--50 {
		width: 50%;
	}

	&--33 {
		width: 33.33%;
	}

	&--25 {
		width: 25%;
	}

	&--10 {
		width: 10%;
	}
}

.h {
	&--100 {
		height: 100%;
	}

	&--75 {
		height: 75%;
	}

	&--50 {
		height: 50%;
	}

	&--25 {
		height: 25%;
	}

	&--33 {
		height: 33.33%;
	}

	&--10 {
		height: 10%;
	}
}
