@font-face {
	font-family: "Fajer Noori Nastalique";
	src: url("/fonts/Fajer-Noori-Nastalique.eot");
	src: url("/fonts/Fajer-Noori-Nastalique.eot") format("embedded-opentype"),
		url("/fonts/Fajer-Noori-Nastalique.woff") format("woff"),
		url("/fonts/Fajer-Noori-Nastalique.ttf") format("truetype"),
		url("/fonts/Fajer-Noori-Nastalique.svg") format("svg");
	unicode-range: U+0600-06FF, U+0750-077F, U+FB50-FDFF, U+FE70-FEFF;
	font-size: 140%;
}
@font-face {
	font-family: "Pak Nastaleeq";
	src: url("/fonts/Pak-Nastaleeq.eot");
	src: url("/fonts/Pak-Nastaleeq.eot") format("embedded-opentype"),
		url("/fonts/Pak-Nastaleeq.woff") format("woff"),
		url("/fonts/Pak-Nastaleeq.ttf") format("truetype"),
		url("/fonts/Pak-Nastaleeq.svg") format("svg");
	unicode-range: U+0600-06FF, U+0750-077F, U+FB50-FDFF, U+FE70-FEFF;
}

@font-face {
	font-family: "Nafees Web Naskh";
	src: url("/fonts/Nafees-Web-Naskh.eot");
	src: url("/fonts/Nafees-Web-Naskh.eot") format("embedded-opentype"),
		url("/fonts/Nafees-Web-Naskh.woff") format("woff"),
		url("/fonts/Nafees-Web-Naskh.ttf") format("truetype"),
		url("/fonts/Nafees-Web-Naskh.svg") format("svg");
	unicode-range: U+0600-06FF, U+0750-077F, U+FB50-FDFF, U+FE70-FEFF;
}

@font-face {
	font-family: "Nafees-Nastaleeq";
	src: url("/fonts/Nafees-Nastaleeq.eot");
	src: url("/fonts/Nafees-Nastaleeq.eot") format("embedded-opentype"),
		url("/fonts/Nafees-Nastaleeq.woff") format("woff"),
		url("/fonts/Nafees-Nastaleeq.ttf") format("truetype"),
		url("/fonts/Nafees-Nastaleeq.svg") format("svg");
	unicode-range: U+0600-06FF, U+0750-077F, U+FB50-FDFF, U+FE70-FEFF;
	font-size: 120%;
}

@font-face {
	font-family: "Mehr-Nastaleeq";
	src: url("/fonts/Mehr-Nastaliq-Web.eot");
	src: url("/fonts/Mehr-Nastaliq-Web.eot") format("embedded-opentype"),
		url("/fonts/Mehr-Nastaliq-Web.woff") format("woff"),
		url("/fonts/Mehr-Nastaliq-Web.ttf") format("truetype"),
		url("/fonts/Mehr-Nastaliq-Web.svg") format("svg");
	unicode-range: U+0600-06FF, U+0750-077F, U+FB50-FDFF, U+FE70-FEFF;
	font-weight: normal;
	font-style: normal;
	font-size: 120%;
}

@font-face {
	font-family: "DehalviKhushKhat";
	src: url("/fonts/DehalviKhushKhat.eot");
	src: url("/fonts/DehalviKhushKhat.eot") format("embedded-opentype"),
		url("/fonts/DehalviKhushKhat.woff") format("woff"),
		url("/fonts/DehalviKhushKhat.ttf") format("truetype"),
		url("/fonts/DehalviKhushKhat.svg") format("svg");
	unicode-range: U+0600-06FF, U+0750-077F, U+FB50-FDFF, U+FE70-FEFF;
	font-weight: normal;
	font-style: normal;
	font-size: 120%;
}

@font-face {
	font-family: "AdobeArabic";
	src: url("/fonts/AdobeArabic-Regular.eot");
	src: url("/fonts/AdobeArabic-Regular.eot") format("embedded-opentype"),
		url("/fonts/AdobeArabic-Regular.woff") format("woff"),
		url("/fonts/AdobeArabic-Regular.ttf") format("truetype"),
		url("/fonts/AdobeArabic-Regular.svg") format("svg");
	unicode-range: U+0600-06FF, U+0750-077F, U+FB50-FDFF, U+FE70-FEFF;
	font-weight: normal;
	font-style: normal;
	font-size: 150%;
}

@font-face {
	font-family: "MehfilNaskh";
	src: url("/fonts/mehfil-naskh.eot");
	src: url("/fonts/mehfil-naskh.eot") format("embedded-opentype"),
		url("/fonts/mehfil-naskh.woff") format("woff"),
		url("/fonts/mehfil-naskh.ttf") format("truetype"), url("/fonts/mehfil-naskh.svg") format("svg");
	unicode-range: U+0600-06FF, U+0750-077F, U+FB50-FDFF, U+FE70-FEFF;
	font-weight: normal;
	font-style: normal;
	font-size: 150%;
}

@font-face {
	font-family: "Dubai";
	src: url("/fonts/dubai.eot");
	src: url("/fonts/dubai.eot") format("embedded-opentype"), url("/fonts/dubai.woff") format("woff"),
		url("/fonts/dubai.ttf") format("truetype"), url("/fonts/dubai.svg") format("svg");
	unicode-range: U+0600-06FF, U+0750-077F, U+FB50-FDFF, U+FE70-FEFF;
	font-weight: normal;
	font-style: normal;
	font-size: 150%;
}

@font-face {
	font-family: "UrduNaskhAsiatype";
	src: url("/fonts/UrduNaskhAsiatype.eot");
	src: url("/fonts/UrduNaskhAsiatype.eot") format("embedded-opentype"),
		url("/fonts/UrduNaskhAsiatype.woff") format("woff"),
		url("/fonts/UrduNaskhAsiatype.ttf") format("truetype"),
		url("/fonts/UrduNaskhAsiatype.svg") format("svg");
	unicode-range: U+0600-06FF, U+0750-077F, U+FB50-FDFF, U+FE70-FEFF;
	font-weight: normal;
	font-style: normal;
	font-size: 140%;
}

@font-face {
	font-family: "Noto";
	src: url("/fonts/noto.eot");
	src: url("/fonts/noto.eot") format("embedded-opentype"), url("/fonts/noto.woff") format("woff"),
		url("/fonts/noto.ttf") format("truetype"), url("/fonts/noto.svg") format("svg");
	unicode-range: U+0600-06FF, U+0750-077F, U+FB50-FDFF, U+FE70-FEFF;
	font-weight: normal;
	font-size: 50%;
}

@font-face {
	font-family: "Alvi Lahori Nastaleeq";
	src: url("/fonts/alvi_Nastaleeq_Lahori_shipped.eot?") format("eot"),
		url("/fonts/alvi_Nastaleeq_Lahori_shipped.woff") format("woff"),
		url("/fonts/alvi_Nastaleeq_Lahori_shipped.ttf") format("truetype"),
		url("/fonts/alvi_Nastaleeq_Lahori_shipped.svg#Alvi Lahori Nastaleeq") format("svg");
	font-weight: normal;
	font-style: normal;
}

@mixin dubai() {
	font-family: "Dubai", sans-serif;
	font-weight: 300;
}

@mixin mehrNastaleeq() {
	font-family: "Mehr-Nastaleeq", sans-serif;
	font-weight: 300;
}
