.heading
{
	@include ubuntu-medium;

	font-size: 20px;
	color: #333;
	line-height: 25px;
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.paragraph
{
	@include hind-vadodara-light;

	font-size: 16px;
	color: #333;
	line-height: 25px;

	strong
	{
		@include hind-vadodara-medium;
	}

	br { line-height: 225% }
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.hyperlink
{
	color: #266abd;
	text-decoration: none;
	cursor: pointer;

	&:hover,
	&:focus
	{
		color: #14509c;
		text-decoration: underline;
	}
}
