
{
    "extends" : ["protect-me-from-my-stupidity", "protect-me-from-my-stupidity/but-let-me-write-stupid-tests"],

    "env" :
    {
        "browser" : true,
		"es6"     : true,
		"mocha"   : true
	},

	"globals" :
	{
		"__karma__" : true
	},

	"parser" : "babel-eslint"
}
