.home {
	background-image: url(/resources/images/home_background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-color: antiquewhite;
	color: brown;
	min-height: 85vh;

	text-align: right;

	.contentbox {
		height: 500px;
		padding: 10px 0;
		h3 {
			color: #ce7852;
			font-size: 40px;
			margin-bottom: 10px;
		}

		h2 {
			color: #3c3c3c;
			font-size: 68px;
			font-weight: 700;
			line-height: 1.2;
		}

		p {
			color: #3c3c3c;
			font-size: 14px;
			line-height: 25px;
			margin: 15px 0 0;
			max-width: 450px;
		}

		a:hover::after {
			background-position: 0 0;
		}

		a:hover {
			color: #ce7852;
		}
	}
}
