$nav-background: #fff;
$nav-shadow: #0000001a;
$nav-font-color: #74708d;
$nav-border: #e4e9f0;

.header
{
	background: $nav-background;
	padding: 0 rem(20);
	min-height: 64px;
	height: 64px;
	// border-bottom: 1px solid $nav-border;
	box-shadow: 0 1px 6px -1px $nav-shadow;
	color: $nav-font-color;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;

	&__logo
	{
		margin: 0 1rem;
	}

	&__item
	{
		margin-right: 1rem;

		&--profile
		{
			margin-left: 1rem;
		}
	}

	&__search
	{
		margin-right: auto !important;
	}

	.dropdown
	{
		padding-left: 15px;
		position: relative;
		cursor: pointer;
		transition: all 0.2s ease-in-out;

		&:hover
		{
			color: #08f;

			&::before,
			.icon
			{
				color: #b8beca;
			}
		}

		&::before
		{
			color: $nav-font-color;
			position: absolute;
			top: 50%;
			left: 0;
			margin-top: -2px;
			display: inline-block;
			width: 0;
			height: 0;
			margin-left: 0.255em;
			vertical-align: 0.255em;
			content: "";
			border-top: 0.3em solid;
			border-right: 0.3em solid transparent;
			border-bottom: 0;
			border-left: 0.3em solid transparent;
			transition: all 0.2s ease-in-out;
		}

	}

	.title {
		display: block;
		padding: rem(8) rem(20);
	}

	.icon {
		margin-right: rem(6);
		color: $nav-font-color;
		transition: all 0.2s ease-in-out;
	}

	.menuIcon {
		margin-right: rem(5);
	}

	.link
	{
		color: $nav-font-color;
		padding-right: 15px;
		position: relative;
		cursor: pointer;
		transition: all 0.2s ease-in-out;

		&:hover
		{
			color: #08f;

			&::after,
			.icon
			{
				color: #b8beca;
			}
		}
	}
}
