.header__area
{

	@media only screen and (max-width: 1199px) and (min-width: 992px)
	{
		.container-fluid
  		{
			padding: 0 30px;
		}
	}

	&.is-sticky
	{
		-webkit-animation: 0.4s ease-in-out 0s normal both 1 running fadeInDown;
		animation: 0.4s ease-in-out 0s normal both 1 running fadeInDown;
		background: rgba(0, 0, 0, 0.9) none repeat scroll 0 0;
		box-shadow: 0 0 5px #bdbdbd;
		left: 0;
		position: fixed;
		top: 0;
		transition: box-shadow 0.5s ease-in-out 0s;
		width: 100%;
		z-index: 99;
	}

  	.container-fluid
  	{
		padding: 0 80px;
	}

	.logo
  	{
		text-align: center;
  	}

	.header__sidebar__right
	{
		height: 90px;
    	list-style: outside none none;
    	position: relative;
    	z-index: 9;

		li
		{
			align-items: center;
			align-self: stretch;
			display: flex;

			.search__active
			{
				background: rgba(0, 0, 0, 0) url(resources/images/icons/search.png) no-repeat scroll 0 center;
				height: 100%;
				line-height: 35px;
				width: 24px;
			}

			.favorites
			{
				background: rgba(0, 0, 0, 0) url(resources/images/icons/button-wishlist.png) no-repeat scroll 0 center;
				height: 100%;
				line-height: 35px;
				width: 24px;
			}

			&.setting__bar__icon
			{
				position: relative;

				.setting__active
				{
					background:  rgba(0, 0, 0, 0) url(resources/images/icons/icon_setting.png) no-repeat scroll 0 center;
					cursor: pointer;
					font-size: 0;
					height: 35px;
					position: relative;
					width: 30px;
				}
			}

    	}
	  }
}


