@import url(https://urdu-fonts.netlify.app/stylesheet.css);

a {
	color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

body {
  min-height: 100vh;
  /* mobile viewport bug fix */
  min-height: -webkit-fill-available;
}

html {
  height: -webkit-fill-available;
}
