// global styles

@font-face {
  font-family: "Nafees Web Naskh";
  src: url("/fonts/Nafees-Web-Naskh.eot");
  src: url("/fonts/Nafees-Web-Naskh.eot") format("embedded-opentype"),
    url("/fonts/Nafees-Web-Naskh.woff") format("woff"),
    url("/fonts/Nafees-Web-Naskh.ttf") format("truetype"),
    url("/fonts/Nafees-Web-Naskh.svg") format("svg");
  unicode-range: U+0600-06FF, U+0750-077F, U+FB50-FDFF, U+FE70-FEFF;
}

@font-face {
  font-family: "Mehr-Nastaleeq";
  src: url("/fonts/Mehr-Nastaliq-Web.eot");
  src: url("/fonts/Mehr-Nastaliq-Web.eot") format("embedded-opentype"),
    url("/fonts/Mehr-Nastaliq-Web.woff") format("woff"),
    url("/fonts/Mehr-Nastaliq-Web.ttf") format("truetype"),
    url("/fonts/Mehr-Nastaliq-Web.svg") format("svg");
  unicode-range: U+0600-06FF, U+0750-077F, U+FB50-FDFF, U+FE70-FEFF;
  font-weight: normal;
  font-style: normal;
  font-size: 120%;
}

@font-face {
  font-family: "AdobeArabic";
  src: url("/fonts/AdobeArabic-Regular.eot");
  src: url("/fonts/AdobeArabic-Regular.eot") format("embedded-opentype"),
    url("/fonts/AdobeArabic-Regular.woff") format("woff"),
    url("/fonts/AdobeArabic-Regular.ttf") format("truetype"),
    url("/fonts/AdobeArabic-Regular.svg") format("svg");
  unicode-range: U+0600-06FF, U+0750-077F, U+FB50-FDFF, U+FE70-FEFF;
  font-weight: normal;
  font-style: normal;
  font-size: 150%;
}

@font-face {
  font-family: "Dubai";
  src: url("/fonts/dubai.eot");
  src: url("/fonts/dubai.eot") format("embedded-opentype"),
    url("/fonts/dubai.woff") format("woff"),
    url("/fonts/dubai.ttf") format("truetype"),
    url("/fonts/dubai.svg") format("svg");
  unicode-range: U+0600-06FF, U+0750-077F, U+FB50-FDFF, U+FE70-FEFF;
  font-weight: normal;
  font-style: normal;
  font-size: 150%;
}

@font-face {
  font-family: "Noto";
  src: url("/fonts/noto.eot");
  src: url("/fonts/noto.eot") format("embedded-opentype"),
    url("/fonts/noto.woff") format("woff"),
    url("/fonts/noto.ttf") format("truetype"),
    url("/fonts/noto.svg") format("svg");
  unicode-range: U+0600-06FF, U+0750-077F, U+FB50-FDFF, U+FE70-FEFF;
  font-weight: normal;
  font-size: 50%;
}

@font-face {
	font-family: 'Segoe Ui Light';
	src: url('/fonts/SEGOEUIL.eot');
	src: local('Segoe Ui Light'), url('/fonts/SEGOEUIL.woff') format('woff'), url('/fonts/SEGOEUIL.ttf') format('truetype');
	unicode-range: U+0600-06FF, U+0750-077F, U+FB50-FDFF, U+FE70-FEFF;
}


.dubai {
  font-family: "Dubai", sans-serif;
  font-weight: 300;
}

.mehrNastaleeq {
  font-family: "Mehr-Nastaleeq", sans-serif;
  font-weight: 300;
}

a {
  cursor: pointer;
}

.app-container {
  min-height: 320px;
}

.admin-nav {
  padding-top: 0;
  padding-bottom: 0;
  background-color: #e8e9ea;
  border-bottom: 1px solid #ccc;
}

.ck-editor__editable_inline {
    min-height: 60vh !important;
}
